
@font-face {
  font-family: 'FoundrySterling-Book';
  src: url('FoundrySterling-Book.eot?#iefix') format('embedded-opentype'),  url('FoundrySterling-Book.woff') format('woff'), url('FoundrySterling-Book.ttf')  format('truetype'), url('FoundrySterling-Book.svg#FoundrySterling-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}
